fastapi
uvicorn[standard]
pydantic-settings
sqlalchemy[asyncio]
asyncpg
alembic
bcrypt
PyJWT
email-validator

./shared
python-multipart
python-multipart
pgvector
aiokafka
prometheus-fastapi-instrumentator
prometheus-client
